<div>
	<ul class="new-proposal">
		<li class="proposal" ng-repeat="proposal in newProposals track by $index">
			<div class="col-2">
				<p class="title">Create New Proposal</p>
				<div class="input">
					<input type="text" ng-model="proposal.name" placeholder="Title" required>
					<input type="text" ng-model="proposal.description" placeholder="Description">
				</div>
				<div class="proposal-action">
					<button ng-click="createProposal(proposal)"> Create Proposal </button>
					<button ng-click="cancel()"> Cancel </button>
				</div>
			</div>
		</li>
		<li class="proposal" ng-repeat="proposal in proposals track by $index">

			<div class="col-2">
				<p class="title">{{ proposal[0] }} </p>
				<span>Submitted by {{proposal[2]}} </span>
				<p class="description">{{ proposal[1] }}</p>
				<div class="proposal-action">
					<button ng-click="vote($index, true)"> Yes </button>
					<button ng-click="vote($index, false)"> No </button>
				</div>
			</div>
			<div class="col-2">
				<div class="proposal-results">
					<p> <span class="good"> {{ proposal[6] }} </span> Ether </p>
					<p> <span class="bad">  {{ proposal[7] }} </span> Ether</p>
				</div>
			</div>
		</li>
	</ul>
</div>
