body {
	background-color: #162023;
	color: azure;
}

div.stats {
	text-align: center;
	padding: 10px;
	font-size: 15px;
	margin: 10px;
}
.good {
	color: lime;
}
.bad {
	color: red;
}
.warning {
	color: yellow;
}

li.proposal {
	padding: 10px;
	min-height: 140px;
	padding-left: 40px;
	margin: 10px;
	border-top: 1px solid white;
} 
ul {
	list-style-type: none;
	padding: 0px;
	margin: 0;
}

ul li p {
	margin: 0;
	font-size: 40px;
}
ul li p.title {
	font-size: 25px;
}
ul li p.description {
	margin-top: 5px;
	font-size: 15px;
}
ul li span {
	font-size: 15px;
	margin-left: 10px;
}

h1 span {
	font-size: 14px;
}
h1 span.network {
	color: azure;
	font-size: 20px;
}
div.stats div span {
	margin-right: 25px;
}

.right-align {
	text-align: right;
}
select {
   padding: 5px 5px 5px 5px;
   font-size: 16px;
   height: 40px;
} 

option {
	color: black;
}
.proposal-action {
	margin-top: 15px;
}
button {
	margin: 10px;
	width: 180px;
	font-size: 16px;
	height: 50px;
	background-color: transparent;
	border: 1px solid azure; 
	color: azure;
}
img {
	vertical-align: middle;
}
pre {
	background: brown;
	text-align: center;
	padding: 10px;
	font-size: 15px;
}

.col-2 {
	display: inline-block;
	width: 49%;
}
.proposal-results {
	text-align: right;
	width:200px;
	margin: 0 auto;
	border-left: 4px solid white;
}
.proposal-results p span {
	font-size: 40px;
}

.input {
	margin: 10px;
}
input {
	width: 350px;
	height: 30px;
	padding: 10px;
	font-size: 15px;
}
