<samp class="stats">
	<div ng-show="connectionState">
		<label>Status:</label> <span ng-class="{true: 'good', false: 'bad'}[connectionState]"> {{ connectionStateDisplay }} </span> <span class="network" ng-show="connectionState"> ({{ ethereumNetwork }}) </span><br>
		<label>Current Block:</label> <span class="{{syncState}}"> {{ currentBlock }} </span><br>
		<label>Current Block Time:</label> <span class="{{syncState}}"> {{ currentBlockTime }} </span><br>
		<label>Since Last Block: </label> <span class="{{syncState}}"> {{ sinceLastBlock }} seconds </span>
	</div>
	<div ng-show="lastTx">
		<label>Last Transmission </label> <a href="{{ etherscanUrl }}/{{ lastTx }}">{{ lastTx }}</a>
	</div>
</samp>
