
<div class="proposal" ng-repeat="proposal in newProposals track by $index">
	<div class="col-2">
		<p class="title">Create New Proposal</p>
		<div class="input">
			<input type="text" ng-model="proposal.name" placeholder="Title" required>
			<input type="text" ng-model="proposal.description" placeholder="Description">
		</div>
		<div class="proposal-action">
			<button ng-click="createProposal(proposal)"> Create Proposal </button>
			<button ng-click="cancel()"> Cancel </button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<ul class="list-group">
			<li class="list-group-item proposal" ng-repeat="proposal in proposals track by $index">
				<h3 class="">{{ proposal[0] }}</h3>
				<div>
					<button type="button" id="testBtn" class="btn btn-success glyphicon glyphicon-thumbs-up" ng-click="vote($index, true)"> {{ proposal[6] }} Ether</button>
					<button type="button" id="testBtnDown" class="btn btn-warn glyphicon glyphicon-thumbs-down" ng-click="vote($index, false)"> {{ proposal[7] }} Ether</button>
				</div>
				<br>
				<p class="description">Submitted by {{proposal[2]}}</p>
				<p class="description">{{ proposal[1] }}</p>
			</li>
		</ul>
	</div>
</div>
