.navbar .navbar-brand {

}

.app-header-logo {
  max-width: 17px;
}

.navbar .navbar-brand > img {
  display: inline;
  margin-right: .125em;
}

.navbar .navbar-brand a {
  color: #777;
}

.navbar .navbar-brand a:hover {
  color: #555;
  text-decoration: none;
}
