<div class="row" ng-hide="connectionState">
	<div class="col-sm-12">
		<div class="page-header">
			<h1>Can't connect.</h1>
			<p>Use Mist or start your local geth node</p>
			<pre><code>geth --rpc --rpccorsdomain="*" --rpcapi="db,eth,net,web3,personal" --testnet</code></pre>
		</div>
	</div>
</div>


<div class="jumbotron">
	<h1 class="display-3"><img src="images/ethersignal-logo.svg" style="max-height:60px">EtherSignal</h1>
	<p class="lead">This is a tool to signal on positions.</p>
	<hr class="m-y-2">
	<!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
	<p class="lead">
		<button type="button" class="btn btn-primary btn-lg" ng-click="newProposal()">Submit a position</button>
</div>


<proposals-list></proposals-list>


<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel2">Please enter a password</h4>
				</div>
				<div class="modal-body">
					
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Submit</button>
				</div>	

		</div>
	</div>
</div>
