<div style="position:fixed; bottom: 0; height:60px; width:100%; z-index:22;">
	<div class="container-fluid">
		<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="9999">{{alert.msg}}</uib-alert>
	</div>
</div>

<div class="container" style="padding-top:40px">

	<div class="jumbotron">
		<h1 class="display-3"><img src="images/ethersignal-logo.svg" style="max-height:60px">EtherSignal</h1>
		<p class="lead">This is a tool to signal on positions.</p>
		<hr class="m-y-2">
		<!-- <p>More detail about this app</p> -->
		<p class="lead">
			<button ng-disabled="!connectionState" type="button" class="btn btn-primary btn-lg" ng-click="newProposal()">Submit a position</button>
	</div>
	
	<proposals-list></proposals-list>

	<div class="row" ng-hide="connectionState">
		<div class="col-sm-12">
			<div class="page-header">
				<h1 ng-hide="isMist">Can't connect.</h1>
				<p>Use Mist or start your local geth node</p>
				<pre><code>geth --rpc --rpccorsdomain="*" --rpcapi="db,eth,net,web3,personal" --testnet</code></pre>
			</div>
		</div>
	</div>

</div>

